.page-contact {
    .card {
        .card-header {
            text-align: center;
            background-color:#e88e8eb3;
            
            h3 {
                margin-top: 0.5rem;
            }
        }

        .card-footer {
            text-align: right;
            background-color:#e88e8eb3;
        }
    }
}